[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
Environment=LD_PRELOAD=/usr/local/lib64/liblkl-hijack.so
Environment=LKL_HIJACK_CONFIG_FILE=/etc/lkl.json
ExecStart=/usr/sbin/haproxy -f /etc/haproxy/haproxy.cfg -p /run/haproxy.pid $OPTIONS

[Install]
WantedBy=multi-user.target
